._sage {
    background: #1E1F22 !important;
    box-shadow: 0 0 2px 3px #1E1F22 !important;
    color: #b5b5b5 !important;
}

._sage var, ._sage var a {
    color: #ce8d59 !important;
}

._sage dfn {
    color: #b5b5b5 !important;
}
._sage dt {
    color: #b5b5b5 !important;
}
._sage footer {
    color: #b5b5b5 !important;
}